<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amsterdam Cafe</title>
    <link href="~/Content/Admin/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
    
</head>
<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-text mx-3">Amsterdam Cafe</div>
            </a>
            <hr class="sidebar-divider my-0">

            <div class="sidebar-heading">
                Kontroller
            </div>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Category">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Kategoriler</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Product">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Stoklar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/User">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Kullanıcılar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Log">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Log</span>
                </a>
            </li>
            <hr class="sidebar-divider d-none d-md-block">
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Amsterdam Cafe</span>
                                <img class="img-profile rounded-circle"
                                     src="/Asset/amblem.jpg">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <div class="dropdown-divider"></div>
                               
                                <a type="button" class="btn"  onclick="fnLogout()"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Çıkış</a> 
                                    
                               
                            </div>
                        </li>

                    </ul>
                </nav>
                <div class="container-fluid">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>@DateTime.Now.Date.ToString("yyyy")  harun.acarlioglu.27@gmail.com</span>
                    </div>
                </div>
            </footer>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.slim.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/Admin/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/Admin/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Scripts/Admin/sb-admin-2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Content/Admin/datatables/jquery.dataTables.min.js"></script>
</body>
<script>
    function fnLogout(){
            window.open("/Admin/Login", "_blank");
       
    }
</script>
</html>
