﻿@using Amsterdam;
@using Amsterdam.Models;
@model FindObject
@{
    DataModel dm = new DataModel();
    string key = Model.Bul==null?"": Model.Bul.Replace("_", "").Replace(" ", "").ToUpper();
    List<tblCategory> list = new List<tblCategory>();
    list = dm.tblCategory.Where(w => key == ""|| w.Name.ToUpper().Replace(" ", "").Contains(key)).OrderBy(o => o.Name).ToList();

}

<table class="table table-bordered dataTable" style="width: 100%;">
    <thead>
        <tr>
            <th>#</th>
            <th>Kategori</th>
            <th>Açıklama</th>
            <th>Görsel</th>
            <th>Aktif Mi</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in list)
        {
            <tr>
                <td>@item.No</td>
                <td>@item.Name</td>
                <td>@(item.Description!=null && item.Description.Length>50? item.Description.Substring(0,30)+"...": item.Description)</td>
                @if (item.Image != null)
                {
                <td> <img height="100" width="100"  class="img-profile" src=@(item.Image != null ? "data:image/png;base64," + Convert.ToBase64String(item.Image, 0, item.Image.Length) : "")></td>
                }
                else
                {
                <td></td>
                }
                <td>@(item.IsActive==true?"Evet":"Hayır")</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" onclick="fnProduct(@item.No)">Ürünler</button>
                        <button type="button" class="btn btn-success" onclick="fnEdit(@item.No)">Düzenle</button>
                        <button type="button" class="btn btn-danger" onclick="fnRemove(@item.No)">Sil</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
